In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#import life expectancy data
csv_lifeexpectancy = "resources/HALElifeExpectancyAtBirth(Edited).csv"
lifeexpectancy_df = pd.read_csv(csv_lifeexpectancy)
lifeexpectancy_df.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,53.95
1,Afghanistan,2015,Healthy life expectancy (HALE) at birth (years),Both sexes,52.60
2,Afghanistan,2010,Healthy life expectancy (HALE) at birth (years),Both sexes,51.13
3,Afghanistan,2000,Healthy life expectancy (HALE) at birth (years),Both sexes,46.76
4,Albania,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,69.08

In [3]:
#import birthrate data
csv_birthrate = "resources/adolescentBirthRate.csv"
birthrate_df = pd.read_csv(csv_birthrate)
birthrate_df.head()

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2000,Adolescent birth rate (per 1000 women aged 15-...,193.8
1,Albania,2015,Adolescent birth rate (per 1000 women aged 15-...,20.2
2,Albania,2010,Adolescent birth rate (per 1000 women aged 15-...,19.4
3,Albania,2000,Adolescent birth rate (per 1000 women aged 15-...,17.2
4,Algeria,2015,Adolescent birth rate (per 1000 women aged 15-...,9.7

In [4]:
#clean up data
birthrate_df = birthrate_df[['Location', 'Period','First Tooltip']]
lifeexpectancy_df = lifeexpectancy_df[['Location', 'Period','First Tooltip']]
clean_br_df = birthrate_df.rename(columns={'Location':'location', 'Period':'period','First Tooltip':'birth_rate'})
clean_le_df = lifeexpectancy_df.rename(columns={'Location':'location', 'Period':'period','First Tooltip':'life_expectancy'})

In [5]:
#create engine and connect to Database
engine = create_engine('postgres://postgres:Ma199773!@localhost:5432/ETL')
conn = engine.connect()

In [6]:
clean_br_df.to_sql(name='birthrate', con=engine, if_exists='append', index=False)
clean_le_df.to_sql(name='lifeexpectancy', con=engine, if_exists='append', index=False)

In [13]:
#Merge datasets
merged_df = pd.merge(clean_br_df,clean_le_df, on=['location', 'period'],how="inner")
merged_df.head()

      location  period  birth_rate  life_expectancy
0  Afghanistan    2000       193.8            46.76
1      Albania    2015        20.2            69.03
2      Albania    2010        19.4            67.57
3      Albania    2000        17.2            65.24
4      Algeria    2015         9.7            65.99

In [30]:
merged_df.sort_values('birth_rate',ascending = False).groupby('location').head()

              location  period  birth_rate  life_expectancy
236              Niger    2010       206.1            51.86
102  Equatorial Guinea    2000       195.6            46.81
0          Afghanistan    2000       193.8            46.76
205               Mali    2010       178.0            51.34
101  Equatorial Guinea    2010       176.0            51.68
..                 ...     ...         ...              ...
312        Switzerland    2015         2.6            71.75
266  Republic of Korea    2000         2.5            67.36
94             Denmark    2015         2.3            70.53
265  Republic of Korea    2010         1.8            70.88
264  Republic of Korea    2015         1.4            72.03

[357 rows x 4 columns]

In [31]:
merged_df.sort_values('life_expectancy',ascending = False).groupby('location').head()

                     location  period  birth_rate  life_expectancy
164                     Japan    2015         4.1            73.62
292                 Singapore    2015         2.7            73.20
165                     Japan    2010         4.5            72.97
293                 Singapore    2010         4.8            72.34
264         Republic of Korea    2015         1.4            72.03
..                        ...     ...         ...              ...
186                   Lesotho    2010        80.0            41.46
107                  Eswatini    2000       102.8            41.28
356                    Zambia    2000       160.4            38.95
64   Central African Republic    2000       166.1            38.69
137                     Haiti    2010        66.1            27.98

[357 rows x 4 columns]

In [ ]:
merged_df.groupby(period).sort

In [24]:
#output df to csv
merged_data = "Resources/merged_data.csv"
merged_df.to_csv(merged_data,index = False)

PermissionError: [Errno 13] Permission denied: 'Resources/merged_data.csv'